<div class="mx-auto px-2 py-4 sm:px-8 lg:container min-h-screen">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
      <h3 class="font-semibold text-textPrimary">Buttons</h3>
    </div>
  </div>
  <div class="w-full">
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Default</div>
      </div>
      <div class="flex flex-wrap overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 ">
        <app-button-filled >
          <p>Button</p>
        </app-button-filled>
      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Variants</div>
      </div>
      <div class="flex flex-wrap justify-start items-start overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled>
          <p>Filled</p>
        </app-button-filled>
        <app-button-filled
          [text]="'text-xs'"
          [text_color]="'text-primary'"
          [color]="'bg-transparent'">
          <p>Link</p>
        </app-button-filled>
        <app-button-filled
          [text]="'text-xs'"
          [text_color]="'text-primary'"
          [color]="'bg-transparent'"
          [outline]="'outline outline-1 outline-primary'">
          <p>Outline</p>
        </app-button-filled>
        <app-button-filled
          [hover]="''"
          [style]="'inline-flex items-center [box-shadow:0_1.2px_0_0_#9CFFB3BB,0_6px_0_0_#2C8A42C9,0_9px_0_0_#C0C0C047] '"
          [active]="'active:[box-shadow:none] active:translate-y-2 '">
          <p>Pressed</p>
        </app-button-filled>
        <app-button-filled
          [disabled]="true"
          [hover]="''">
          <p>Disbaled</p>
        </app-button-filled>
      </div>
      <div class="flex flex-wrap justify-start items-start overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled
          [variant]="'filled'">
          <p>Filled</p>
        </app-button-filled>
        <app-button-filled
          [variant]="'text'">
          <p>Link</p>
        </app-button-filled>
        <app-button-filled
          [variant]="'outlined'">
          <p>Outline</p>
        </app-button-filled>
        <app-button-filled
          [variant]="'3d'">
          <p>Pressed</p>
        </app-button-filled>
        <app-button-filled
          [disabled]="true">
          <p>Disbaled</p>
        </app-button-filled>
      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Events</div>
      </div>
      <div class="flex flex-wrap justify-start items-start overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled
          [hover]="'hover:opacity-90'">
          <p>Hover</p>
        </app-button-filled>
        <app-button-filled
          [focus]="'focus:opacity-75'"
        ><p>Focused</p>
        </app-button-filled>
        <app-button-filled
          [active]="'active:opacity-75'"
        ><p>Active</p>
        </app-button-filled>
      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Size</div>
      </div>
      <div class="flex flex-wrap justify-start items-center overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled
          [ripple]="true"
          [text]="'text-[11px] text-white'"
          [padding]="'px-3 py-1.5'"
        >
          <p>Small</p>
        </app-button-filled>
        <app-button-filled>
          <p>Medium</p>
        </app-button-filled>
        <app-button-filled
          [padding]="'px-5 py-3'"
        >
          <p>Large</p>
        </app-button-filled>
        <app-button-filled
          [padding]="'px-8 py-3'"
        >
          <p>Extra large</p>
        </app-button-filled>
      </div>
      <div class="flex flex-wrap justify-start items-center overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled
          [size]="'sm'"
        >
          <p>Small</p>
        </app-button-filled>
        <app-button-filled
          [size]="'md'"
        >
          <p>Medium</p>
        </app-button-filled>
        <app-button-filled
          [size]="'lg'"
        >
          <p>Large</p>
        </app-button-filled>
        <app-button-filled
          [size]="'xl'"
        >
          <p>Extra large</p>
        </app-button-filled>
      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Colors</div>
      </div>
      <div class="flex flex-wrap overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 ">
        <app-button-filled>
          <p>Prim</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-secondary'">
          <p>Seco</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-ternary'">
          <p>Tern</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-success'">
          <p>success</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-info'">
          <p>info</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-warning'">
          <p>warning</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-help'">
          <p>help</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-danger'">
          <p>danger</p>
        </app-button-filled>
      </div>
      <div class="flex flex-wrap overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 ">
        <app-button-filled
          [color]="'info'"
          [text_color]="'text-red-500'">
          <p>Prim</p>
        </app-button-filled>
        <app-button-filled
          [variant]="'text'"
          [color]="'bg-red-900'">
          <p>Seco</p>
        </app-button-filled>
        <app-button-filled
          [variant]="'text'">
          <p>Seco</p>
        </app-button-filled>
        <app-button-filled
          [variant]="'outlined'"
          [color]="'ternary'">
          <p>Tern</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-success'">
          <p>success</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-info'">
          <p>info</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-warning'">
          <p>warning</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-help'">
          <p>help</p>
        </app-button-filled>
        <app-button-filled
          [color]="'bg-danger'">
          <p>danger</p>
        </app-button-filled>
      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Button rounded</div>
      </div>
      <div class="flex flex-wrap justify-start items-start overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled
          [rounded]="'rounded-none'">
          <p>None</p>
        </app-button-filled>
        <app-button-filled
          [rounded]="'rounded-sm'">
          <p>Sm</p>
        </app-button-filled>
        <app-button-filled
          [rounded]="'rounded-md'">
          <p>Md</p>
        </app-button-filled>
        <app-button-filled
          [rounded]="'rounded-lg'">
          <p>Lg</p>
        </app-button-filled>
        <app-button-filled
          [rounded]="'rounded-full'">
          <p>full</p>
        </app-button-filled>
        <app-button-filled
          [rounded]="'rounded-full'"
          [active]="'active:[box-shadow:none]  active:translate-y-2'"
          [style]="'[box-shadow:0_1.2px_0_0_#9CFFB3BB,0_6px_0_0_#2C8A42C9,0_9px_0_0_#C0C0C047]'"
        ><p>Pressed</p>
        </app-button-filled>
      </div>

    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Button icon</div>
      </div>
      <div class="flex flex-wrap justify-start items-start overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled>
          <i  class="fas fa-regular fa-envelope"></i>
        </app-button-filled>
        <app-button-filled
          [size]="'h-8 w-8'"
          [padding]="''"
          [rounded]="'rounded-full'">
          <i  class="fas fa-regular fa-envelope"></i>
        </app-button-filled>
        <app-button-filled
          [style]="'flex items-center'"
          [text]="'text-xs text-primary'"
          [color]="'bg-transparent'">
          <i  class="fas fa-regular fa-envelope mr-2"></i>
          <p>Link</p>
        </app-button-filled>
        <app-button-filled
          [style]="'flex items-center'"
          [text]="'text-xs text-primary'"
          [color]="'bg-transparent'"
          [outline]="'outline outline-1 outline-primary'"
        >
          <p>Outline</p>
          <i  class="fas fa-regular fa-envelope ml-2"></i>
        </app-button-filled>
        <app-button-filled
          [active]="'active:[box-shadow:none]  active:translate-y-2'"
          [style]="'flex items-center [box-shadow:0_1.2px_0_0_#9CFFB3BB,0_6px_0_0_#2C8A42C9,0_9px_0_0_#C0C0C047]'"
        >
          <i  class="fas fa-regular fa-envelope mr-2"></i>
          <p>Pressed</p>
        </app-button-filled>

      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Rings</div>
      </div>
      <div class="flex flex-wrap justify-start items-end overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled
          [ring]="' ring-offset-bgPrim'"
          [active]="'active:ring-offset-1 active:ring-1 active:ring-primary'">
          <p>Filled</p>
        </app-button-filled>
        <app-button-filled
          [ring]="' ring-offset-bgPrim'"
          [text]="'text-xs text-primary'"
          [color]="'bg-transparent'"
          [active]="'active:ring-offset-1 active:ring-1 active:ring-primary'">
          <p>Link</p>
        </app-button-filled>
        <app-button-filled
          [text]="'text-xs text-primary'"
          [color]="'bg-transparent'"
          [outline]="'outline outline-1 outline-primary'"
          [ring]="' ring-offset-bgPrim'"
          [active]="'active:ring-offset-2 active:ring-1 active:ring-primary'">
          <p>Outline</p>
        </app-button-filled>
        <app-button-filled
          [style]="' [box-shadow:0_1.2px_0_0_#9CFFB3BB,0_6px_0_0_#2C8A42C9,0_9px_0_0_#C0C0C047] '"
          [ring]="'ring-offset-bgPrim'"
          [active]="'active:ring-offset-1 active:ring-1 active:ring-primary active:translate-y-2 '"
        >Pressed
        </app-button-filled>

      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Loading</div>
      </div>
      <div class="flex flex-wrap justify-start items-end overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <app-button-filled (click)="loading()"
          [disabled]="!buttonloading"
          [style]="'inline-flex items-center'" >
          <svg class="mr-2 -ml-1 text-white animate-spin transition-all duration-150 ease-in-out"
               xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24"
               [ngClass]="{'h-0 w-0 hidden':buttonloading,'w-3 h-3 ':!buttonloading}">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          <p>Svg</p>
        </app-button-filled>
        <app-button-filled (click)="loading()"
          [disabled]="buttonloading"
          [style]="'inline-flex items-center'" >
          <i [ngClass]="{'hidden':!buttonloading}"
             class="mr-2 fas fa-spinner animate-spin transition-all duration-150 ease-in-out"></i>
          <p>Icon</p>
        </app-button-filled>
        <app-button-filled
          (click)="loading()"
          [disabled]="buttonloading"
          [style]="'inline-flex items-center'"
          [text]="'text-xs text-primary'"
          [color]="'bg-transparent'"
        >
          <svg class="mr-2 -ml-1 text-primary animate-spin transition-all duration-150 ease-in-out"
               xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24"
               [ngClass]="{'h-0 w-0 hidden':!buttonloading,'w-3 h-3 ':buttonloading}">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          <p>Link</p>
        </app-button-filled>
        <app-button-filled (click)="loading()"
          [disabled]="buttonloading"
          [style]="'inline-flex items-center'"
          [text]="'text-xs text-primary'"
          [color]="'bg-transparent'"
          [outline]="'outline outline-1 outline-primary'"
        >
          <svg class="mr-2 -ml-1 text-primary animate-spin transition-all duration-150 ease-in-out"
               xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24"
               [ngClass]="{'h-0 w-0 hidden':!buttonloading,'w-3 h-3 ':buttonloading}">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
          <p>Outline</p>
        </app-button-filled>
        <app-button-filled
          (click)="loading()"
          [disabled]="buttonloading"
          [hover]="''"
          [style]="'inline-flex items-center [box-shadow:0_1.2px_0_0_#9CFFB3BB,0_6px_0_0_#2C8A42C9,0_9px_0_0_#C0C0C047] '"
          [active]="' active:[box-shadow:none] active:translate-y-2 '"
        >
          <p>Pressed</p>
          <svg class="ml-2 -ml-1 text-white animate-spin transition-all duration-150 ease-in-out"
               xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24"
               [ngClass]="{'h-0 w-0 hidden':!buttonloading,'w-3 h-3 ':buttonloading}">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
          </svg>
        </app-button-filled>
      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Template</div>
      </div>
      <div class="flex flex-wrap overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 ">
        <app-button-filled
          [style]="'flex items-center'"
        >
          <p>Icon</p>
          <i  class="fas fa-regular fa-envelope ml-2"></i>
        </app-button-filled>
        <app-button-filled
          [style]="'flex items-center'"
        >
          <i  class="fas fa-regular fa-envelope mr-2"></i>
          <p>Icon</p>
        </app-button-filled>
      </div>
    </div>
    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Change color on active</div>
      </div>
      <div class="flex flex-wrap justify-start items-start overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 h-auto">
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-primary text-white active:bg-transparent active:text-primary transition-all duration-300">Normal</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-primary active:bg-primary active:text-white transition-all duration-300">Text</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-primary outline outline-1 outline-primary active:bg-primary active:text-white transition-all duration-300">Outline</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  text-white bg-primary hover:bg-primary/[.85] active:bg-transparent active:text-primary transition-all duration-300">Hover</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-primary text-white focus:bg-primary/[.65] active:bg-transparent active:text-primary transition-all duration-300">Focused</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-primary text-white active:bg-primary/[.65] active:bg-transparent active:text-primary transition-all duration-300">Active</button>
        <div class='button
          rounded-md  h-6  text-xs font-semibold  bg-primary text-white
          active:translate-y-2  active:[box-shadow:0_0px_0_0_#2a3b52,0_0px_0_0_#1b70f841]
          active:border-b-[0px]
          [box-shadow:0_6px_0_0_#004f5e,0_8px_0_0_#1b70f841]
          border-b-[1px] border-[#3592a4]
          active:bg-transparent z-10 transition-all duration-300'>
          <span class=' h-6 px-4 py-2 z-50 flex flex-col justify-center items-center h-full text-white active:text-primary font-bold text-xs '>Pressed</span>
        </div>
        <button class=" rounded-md  px-4 py-2 text-xs font-semibold  bg-primary/[.65] text-white cursor-not-allowed ">Disabled</button>
      </div>
    </div>

    <div class=" py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textSecondary">Text hover background on active</div>
      </div>
      <div class="flex flex-wrap overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 ">
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-primary hover:bg-primary/[.08] active:bg-primary/[.2] "> Prim</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-secondary hover:bg-secondary/[.08] active:bg-secondary/[.2] "> Seco</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-ternary hover:bg-ternary/[.08] active:bg-ternary/[.2] "> Tern</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-success hover:bg-success/[.08] active:bg-success/[.2] ">success</button>

        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-info hover:bg-info/[.08] active:bg-info/[.2] ">info</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-warning hover:bg-warning/[.08] active:bg-warning/[.2] ">warning</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-help hover:bg-help/[.08] active:bg-help/[.2] ">help</button>
        <button class="rounded-md  px-4 py-2 text-xs font-semibold  bg-transparent text-danger hover:bg-danger/[.08] active:bg-danger/[.2] ">danger</button>
      </div>
    </div>
    <div class="space-x-1 text-xs font-medium text-textTertiary">
      <div class="flex items-end justify-between text-sm font-semibold text-textTertiary"> Mix text/hover/background primary
      </div>
    </div>
    <div class=" flex flex-col rounded-lg bg-bgPrim p-4  gap-4">
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textPrimary hover:bg-bgTern">bg-sec/txt-pri/hover-ter</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textSecondary hover:bg-bgTern">bg-sec/txt-sec/hover-ter</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textTertiary hover:bg-bgTern">bg-sec/txt-ter/hover-ter</button>
      </div>
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textPrimary hover:bg-bgSeco">bg-sec/txt-pri/hover-sec</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textSecondary hover:bg-bgSeco">bg-sec/txt-sec/hover-sec</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textTertiary hover:bg-bgSeco">bg-sec/txt-ter/hover-sec</button>
      </div>
    </div>
    <div class="space-x-1 text-xs font-medium text-textTertiary">
      <div class="flex items-end justify-between text-sm font-semibold text-textTertiary"> Mix text/hover/background secondary
      </div>
    </div>
    <div class=" flex flex-col rounded-lg bg-bgSeco p-4 gap-4">
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textPrimary hover:bg-bgTern">bg-pri/txt-pri/hover-ter</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textSecondary hover:bg-bgTern">bg-pri/txt-sec/hover-ter</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textTertiary hover:bg-bgTern">bg-pri/txt-ter/hover-ter</button>
      </div>
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textPrimary hover:bg-bgPrim">bg-ter/txt-pri/hover-prim</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textSecondary hover:bg-bgPrim">bg-ter/txt-sec/hover-prim</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textTertiary hover:bg-bgPrim">bg-ter/txt-ter/hover-prim</button>
      </div>
    </div>
    <div class="space-x-1 text-xs font-medium text-textTertiary">
      <div class="flex items-end justify-between text-sm font-semibold text-textTertiary"> Mix text/hover/background ternary
      </div>
    </div>
    <div class=" flex flex-col rounded-lg bg-bgTern p-4 gap-4">
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textPrimary hover:bg-bgSeco">bg-pri/txt-pri/hover-sec</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textSecondary hover:bg-bgSeco">bg-pri/txt-sec/hover-sec</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textTertiary hover:bg-bgSeco">bg-pri/txt-ter/hover-sec</button>
      </div>
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textPrimary hover:bg-bgPrim">bg-sec/txt-pri/hover-pri</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textSecondary hover:bg-bgPrim">bg-sec/txt-sec/hover-pri</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textTertiary hover:bg-bgPrim">bg-sec/txt-ter/hover-pri</button>
      </div>
    </div>
  </div>
</div>
