<!--<div (click)="toggleDropdown()"-->
<!--     class=" text-xs font-bold inline-block flex items-center  justify-center py-2 whitespace-nowrap uppercase  rounded pr-12 -mr-10 duration-500 transition-all ease-in-out"-->

<!--   [ngClass]="{-->
<!--            'px-2': sidebarOpen,'px-0': !sidebarOpen,-->
<!--            'bg-bgSeco': activeRoute && !sidebarOpen,-->
<!--            'bg-bgPrim ': activeRoute && sidebarOpen,-->
<!--            'bg-bgPrim  ': !activeRoute && sidebarOpen,-->
<!--            'bg-bgPrim   ': !activeRoute && !sidebarOpen}">-->
<!--  <i [ngClass]="{ 'mr-4 w-6': sidebarOpen,-->
<!--    'text-primary': activeRoute ,-->
<!--    'text-textTertiary': !activeRoute }" class=" {{menuItem.icon}}  text-xl"></i>-->
<!--  <p *ngIf="sidebarOpen" class="text-textSecondary"  >{{menuItem.label}}</p>-->
<!--  <button *ngIf="sidebarOpen" class="pointer-events-none  flex w-full items-end justify-end p-1 ">-->
<!--    <i [ngClass]="{  'rotate-90': dropdownPopoverShow,'text-primary': activeRoute ,-->
<!--    'text-textTertiary': !activeRoute  }" class="right-0 fas fa-solid fa-chevron-right transition-all duration-700 text-sm text-textTertiary"></i>-->
<!--  </button>-->

<!--</div>-->
<a  (click)="toggleDropdown()"
    class=" text-xs font-bold inline-block flex items-center  justify-center py-2 whitespace-nowrap uppercase  rounded pr-12 -mr-10 duration-500 transition-all ease-in-out"
    [ngClass]="{ 'justify-start px-2 ': sidebarOpen, 'justify-center': !sidebarOpen ,
            'bg-bgSeco': activeRoute, 'hover:bg-bgSeco': !activeRoute}">
  <i *ngIf="menuItem.icon"
     [ngClass]="{ 'mr-4   w-6': sidebarOpen, '': !sidebarOpen, 'text-primary': activeRoute, 'text-textTertiary': !activeRoute}"
     class="{{menuItem.icon}} text-lg">
  </i>
  <p *ngIf="sidebarOpen"
     [ngClass]="{ 'text-primary hover:text-primary-200': activeRoute, 'text-textSecondary': !activeRoute }"
     class="">{{menuItem.label}}</p>
  <button *ngIf="sidebarOpen" class="pointer-events-none  flex w-full items-end justify-end p-1 ">
    <i [ngClass]="{  'rotate-90': dropdownPopoverShow,'text-primary': activeRoute ,
    'text-textTertiary': !activeRoute  }" class="right-0 fas fa-solid fa-chevron-right transition-all duration-700 text-sm text-textTertiary"></i>
  </button>
</a>


<div *ngIf="sidebarOpen"
     class=" pl-4 pt-1 list-none text-left text-textTertiary transition-all duration-500 ease-in-out "
     [ngClass]="dropdownPopoverShow ? 'max-h-screen opacity-100' : 'max-h-0 overflow-hidden opacity-0 '"
>
  <ul class="pl-4 border-l border-dashed border-textTertiary -mr-10 ">
    <li *ngFor="let item of menuItem.children" >
      <a [routerLink]="[item.route]"
         routerLinkActive
         #routeActive="routerLinkActive"
         [ngClass]="{
            'bg-bgSeco text-primary': routeActive.isActive, 'hover:bg-bgSeco': !routeActive.isActive}"
         class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap rounded pr-10 -mr-10 transition-all duration-500 ease-in-out">
        {{item.label}}
      </a>
    </li>
  </ul>

</div>
