<div class="slider_body">
  <div class='slider'>
    <input name="input-slider" id='input-slide-0' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-1' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-2' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-3' type="radio" class='input-slide input-slide-num' >
    <input name="input-slider" id='input-slide-autoplay' type="radio" class='input-slide' checked>
    <ul>
      <li class='slide-0'>
        <div class="grid">
          <div><img src="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png" srcset="https://cdn.marvel.com/content/1x/msm2_lob_log_eye_01_1.png" alt="MSM2"></div>
          <p>Gameplay Revealed</p>
          <p>Check out the all-new gameplay for 'Marvel's Spider-Man 2', just revealed at PlayStation Showcase 2023!</p>
          <div></div>
        </div>
      </li>
      <li class='slide-1'></li>
      <li class='slide-2'></li>
      <li class='slide-3'></li>
    </ul>
<!--    <div class='slide-description'>-->
<!--      <label class='slide-0'>-->
<!--        <h1 class="text-slide">Pure CSS</h1>-->
<!--      </label>-->
<!--      <label class='slide-1'>-->
<!--        <h1 class="text-slide">Pure CSS</h1>-->
<!--      </label>-->
<!--      <label class='slide-2'>-->
<!--        <h1 class="text-slide">Pure CSS</h1>-->
<!--      </label>-->
<!--      <label class='slide-3'>-->
<!--        <h1 class="text-slide">Pure CSS</h1>-->
<!--      </label>-->
<!--    </div>-->
    <div class='slider-dot'>
      <label class='slide-0' for='input-slide-0'></label>
      <label class='slide-1' for='input-slide-1'></label>
      <label class='slide-2' for='input-slide-2'></label>
      <label class='slide-3' for='input-slide-3'></label>
    </div>
  </div>
  <div class="footer">
    <p>
      <span>Pure CSS Slider Autoplay</span>
      <span>by <a href="https://codepen.io/panikaro/#" target="_blank">PaniKaro</a></span>
    </p>
    <p>
      <span>Works on Firefox, Chrome, IE and more.</span>
      <span>Include autoplay, prev/next buttons & bullets.</span>
      <span>No more JavaScript ever again.</span>
      <span>100% clean.</span>
    </p>
    <p>
      <span>Version 1.0</span>
    </p>
  </div>
</div>
