
<div class="mt-10 sm:mt-0" >
  <div class="flex flex-col">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="">
      <div class="w-96 p-4 sm:px-0 flex flex-row justify-between items-center space-x-2">
        <app-card class="w-full">
          <ng-template #headerTemplate >
            <div class="">
              <h5 class="text-xl font-semibold leading-snug tracking-normal text-textPrimary antialiased">
                New post
              </h5>
            </div>
          </ng-template>
          <div class="py-6">
            <form  [formGroup]="form" class="flex flex-col gap-5">
              <app-input-outsite [formGroupParent]="form.get(['post'])" [formGroupControlName]="'name'"></app-input-outsite>
              <app-input-outsite [formGroupParent]="form.get(['post'])" [formGroupControlName]="'desc'"></app-input-outsite>
              <app-input-outsite [formGroupParent]="form.get(['post'])" [formGroupControlName]="'img'"></app-input-outsite>
<!--              <app-input-outsite [formGroupParent]="form.get(['post'])" [formGroupControlName]="'category'"></app-input-outsite>-->
              <div class="col-span-2 sm:col-span-2" *ngIf="categories">
                <label class="block text-sm font-medium text-gray-700">Categoria</label>
                <select formControlName="category"  (change)="selectCategory($event)"
                        autocomplete="country-name" class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  <option [value]="null">Selecciona una categoria</option>
                  <option *ngFor="let value of this.categories"
                          [value]="value.id">
                    {{value.name}}
                  </option>
                </select>
              </div>
              <input type="file" multiple (change)="onFileChange($event)">
            </form>
          </div>
          <ng-template #footerTemplate class="flex flex-wrap gap-2 justify-between items-center">
            <div class="flex justify-between">
              <!--            <app-button3d [width]="'120px'" [type]="'btn_disabled'"   [height]="'20px'"  [raise]="5"></app-button3d>-->
              <!--            <app-button3d [width]="'120px'" [type]="'btn_primary'"  [height]="'30px'" [raise]="5"  ></app-button3d>-->
              <app-button3d title="Read More" [height]="'30px'" [type]="'btn_disabled'"  ></app-button3d>
              <app-button3d (click)="create()" title="View" [height]="'30px'" [type]="'btn_primary'"  ></app-button3d>
            </div>
          </ng-template>
        </app-card>
      </div>
    </div>
  </div>
</div>
