<div class="mx-auto px-2 py-4 sm:px-8 lg:container min-h-screen">
  <div class="mb-4 flex justify-between">
    <div class="inline-block">
    <h3 class="font-semibold text-textPrimary">Buttons</h3>
  </div>
  </div>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 ">
    <div class="col-span-2 py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textTertiary">Default</div>
      </div>
      <div class="flex flex-wrap overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 ">
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-primary text-white">Button</button>
          <button disabled class="flex-1 min-w-min rounded-md  px-4 py-2.5 text-xs font-semibold  opacity-25 bg-primary text-white">Disabled</button>
          <button class=" flex-1 min-w-min rounded-md  px-4 py-2.5 text-xs font-semibold text-primary hover:outline hover:outline-1 ">Link</button>
      </div>
    </div>

    <div class="col-span-2 py-2 space-y-2">
      <div class="text-xs font-medium text-textTertiary">
        <div class="flex items-end justify-between text-sm font-semibold text-textTertiary">Colors</div>
      </div>
      <div class="flex flex-wrap overflow-hidden rounded-lg bg-bgPrim p-4 gap-4 ">
        <div class="flex flex-1 flex-wrap gap-4">
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-primary text-white"> Prim</button>
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-secondary text-white"> Seco</button>
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-ternary text-white"> Tern</button>
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-success text-white">success</button>
        </div>

        <div class="flex flex-1 flex-wrap gap-4">
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-info text-white">info</button>
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-warning text-white">warning</button>
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-help text-white">help</button>
          <button class="flex-1 rounded-md  px-4 py-2.5 text-xs font-semibold  bg-danger text-white">danger</button>
        </div>

      </div>
    </div>

    <div class="space-x-1 text-xs font-medium text-textTertiary">
      <div class="flex items-end justify-between text-sm font-semibold text-textTertiary"> Colors & hover
      </div>
    </div>
    <div class="col-span-2 flex flex-col rounded-lg bg-bgPrim p-4 gap-4 ">
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-primary text-white hover:bg-transparent hover:text-primary"> Prim</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-primary text-white hover:bg-bgSeco"> Prim</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-primary text-white hover:bg-bgTern"> Prim</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-primary hover:bg-primary hover:text-white"> Prim</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-white hover:bg-primary"> Prim</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-bgTern text-white hover:bg-primary"> Prim</button>
      </div>
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-secondary text-white hover:opacity-75"> Seco</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-secondary text-white hover:bg-bgSeco"> Seco</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-secondary text-white hover:bg-bgTern"> Seco</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-white hover:bg-secondary"> Seco</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-bgTern text-white hover:bg-secondary"> Seco</button>
      </div>
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-ternary text-white hover:opacity-75"> Tern</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-ternary text-white hover:bg-bgSeco"> Tern</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-ternary text-white hover:bg-bgTern"> Tern</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-white hover:bg-ternary"> Tern</button>
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-bgTern text-white hover:bg-ternary"> Tern</button>
      </div>
    </div>
    <div class="space-x-1 text-xs font-medium text-textTertiary">
      <div class="flex items-end justify-between text-sm font-semibold text-textTertiary">Button active rings</div>
    </div>
    <div class="col-span-2 flex flex-col rounded-lg bg-bgPrim p-4 gap-4 ">
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="rounded-md  px-4 py-2.5 text-xs font-semibold  bg-primary text-white
        active:bg-primary focus:ring-offset-1 focus:ring-1 focus:ring-primary"> Prim</button>
      </div>
    </div>
    <div class="space-x-1 text-xs font-medium text-textTertiary">
      <div class="flex items-end justify-between text-sm font-semibold text-textTertiary"> Mix text/hover/background primary
      </div>
    </div>
    <div class="col-span-2 flex flex-col rounded-lg bg-bgPrim p-4  gap-4">
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textPrimary hover:bg-bgTern">bg-sec/txt-pri/hover-ter</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textSecondary hover:bg-bgTern">bg-sec/txt-sec/hover-ter</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textTertiary hover:bg-bgTern">bg-sec/txt-ter/hover-ter</button>
      </div>
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textPrimary hover:bg-bgSeco">bg-sec/txt-pri/hover-sec</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textSecondary hover:bg-bgSeco">bg-sec/txt-sec/hover-sec</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textTertiary hover:bg-bgSeco">bg-sec/txt-ter/hover-sec</button>
      </div>
    </div>
    <div class="space-x-1 text-xs font-medium text-textTertiary">
      <div class="flex items-end justify-between text-sm font-semibold text-textTertiary"> Mix text/hover/background secondary
      </div>
    </div>
    <div class="col-span-2 flex flex-col rounded-lg bg-bgSeco p-4 gap-4">
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textPrimary hover:bg-bgTern">bg-pri/txt-pri/hover-ter</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textSecondary hover:bg-bgTern">bg-pri/txt-sec/hover-ter</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textTertiary hover:bg-bgTern">bg-pri/txt-ter/hover-ter</button>
      </div>
      <div class="flex flex-wrap items-center justify-start gap-4">
      <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textPrimary hover:bg-bgPrim">bg-ter/txt-pri/hover-prim</button>
      <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textSecondary hover:bg-bgPrim">bg-ter/txt-sec/hover-prim</button>
      <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgTern text-textTertiary hover:bg-bgPrim">bg-ter/txt-ter/hover-prim</button>
      </div>
    </div>
    <div class="space-x-1 text-xs font-medium text-textTertiary">
      <div class="flex items-end justify-between text-sm font-semibold text-textTertiary"> Mix text/hover/background ternary
      </div>
    </div>
    <div class="col-span-2 flex flex-col rounded-lg bg-bgTern p-4 gap-4">
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textPrimary hover:bg-bgSeco">bg-pri/txt-pri/hover-sec</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textSecondary hover:bg-bgSeco">bg-pri/txt-sec/hover-sec</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgPrim text-textTertiary hover:bg-bgSeco">bg-pri/txt-ter/hover-sec</button>
      </div>
      <div class="flex flex-wrap items-center justify-start gap-4">
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textPrimary hover:bg-bgPrim">bg-sec/txt-pri/hover-pri</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textSecondary hover:bg-bgPrim">bg-sec/txt-sec/hover-pri</button>
        <button class="flex-none rounded-md px-4 py-2.5 text-xs font-semibold  bg-bgSeco text-textTertiary hover:bg-bgPrim">bg-sec/txt-ter/hover-pri</button>
      </div>
    </div>
  </div>

</div>
