/* You can add global styles to this file, and also import other style files */
/*
  tailwind config
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';

/*//codemirrror color back*/
.cm-s-material.CodeMirror {
  background-color:  transparent !important;
}
.CodeMirror {
  background-color:  transparent !important;
  height: 100%;
}
.CodeMirror-scroll {
  /*height: 50vh;*/
}
/*.CodeMirror textarea {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/
.cm-s-material .CodeMirror-gutters {
  background-color:  transparent !important;
}
